
html, body {
    height: 100%;
    margin: 0;
    background: #FFFFFF;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

header, nav {
    margin: 0;
}

.nav-bar {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    flex-direction: row;
    background: #FFFFFF;
    list-style: none;
}

.nav-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #FFFFFF;
    list-style: none;
}

.nav-bar-menu {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
    background: #FFFFFF;
    list-style: none;
}

.nav-bar-item {
    padding: 15px 20px 17px 20px;
    font-weight: bold;
    color: #788089;
}

.nav-bar .nav-bar-item:hover{
  list-style: none;
  cursor: pointer;
  background-color: #F2F2F2;
 
}

.nav-menu .nav-bar-item:hover{
  list-style: none;
  cursor: pointer;
  background-color: #F2F2F2;
 
}

.nav-bar-menu .nav-bar-item:hover{
  list-style: none;
  cursor: pointer;
  background-color: #F2F2F2;
 
}

.atractions {
    padding: 10px 60px 0 60px;
    height: 240px;
    background: #F2F2F2;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.atraction-option {
    margin: 10px 0;
    position: relative;
    top: 10;
}

.atraction-option div {
    background: #FFFFFF;
    position: relative;
    top: -48px;
    left: 65px;
    padding: 15px 20px 35px 20px;
    width: 80px;
    border: 1px solid lightgrey;
    margin: 10px;
  }

.atraction-option div label {
    color: #7C8083;
    font-size: 10px;
    width: 10px;
}

.atraction-option div .bar {
    zoom: 0.1;
    padding: 15px;
    margin: 0;
    position: relative;
    border-radius: 15%;
    height: 0.5px;
    width: 100%;
    top: 10px;
    left: -25px;
    background: #505050;
}

.main {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.main-article {
    width: 70%;
}

.main-article div {
    background: #F2F2F2;
    margin: 40px 15%;
}

.main-article div h4 {
    color: #788089;
    padding: 5% 0 0 0;
}

.main-article div img {
    width: 70%;
    height: 90%;
    margin: 0 15% 25px 15%;
}

.main-article div p {
    overflow: auto;
    text-align: left;
    padding: 0 12% 20px 12%;
}

.about-me {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    width: 30%;
}

.about-me div {
    margin: 10px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-me div img {
    margin: 10px 0 0 0;
    padding: 0;
}

.about-me div input {
    border-radius: 4px;
    margin: 10px 0 0px 0;
    width: 80%;
}

.text {
    padding: 5px;
    height: 20px;
    text-align: left;
}

.text-area {
    padding: 5px;
    height: 100px;
    text-align: left;
}

.about-me div p {
    color: #788089;
    margin: 16px 10px;
    text-align: left;
    font-size: 14px;
}

.about-me div button {
    margin: 10px 0 0 0;
    width: 86%;
    height: 45px;
    background: #48525E;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}

.profile-titles {
    border-bottom: 1px solid;
    /* border: none;
    box-shadow: 0 3px 2px -2px #505050; */
    padding: 40px 0 4px 0;
    width: 50%;
    text-align: center;
    color: #788089;
}

footer {
    background: #48525E;
    margin-top: auto;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 60px 0;
}

@media screen and (max-width: 570px) {
    .nav-bar {
        display: none;
    }
}

@media screen and (min-width: 570px) {
    .nav-menu {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .atractions {
        height: 538px;
    }
}

@media screen and (max-width: 1100px) {
    .about-me div button {
        margin: 10px 0 20px 0;
    }
}

@media screen and (max-width: 680px) {
    .atractions {
        height: 836px;
    }
}

@media screen and (max-width: 740px) {
    .main {
        background: #FFFFFF;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
    }

    .main-article {
        width: 100%;
    }

    .about-me {
        width: 100%;
    }
}
